
    <!-- Intro Header -->
    <header class="intro home">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <% flash.each do |type, message| %>
                          <%= content_tag :div, message.html_safe, class: "#{type} flashy", id: "flash_notice" %>
                        <% end %>
                        <h1 class="brand-heading">Tough Love</h1>
                        <p class="intro-text">Because sometimes you need it.<br>Someone on your shoulder to tell it like it is.</p>

                    </div>
                </div>
            </div>
        </div>
    </header>
